h1 { font-size:1.5em;   /* 16x1.5=24 */   }
h2 { font-size:1.125em; /* 16x1.125=18 */ }
p  { font-size:0.875em; /* 16x0.875=14 */ }
h3 { font-size:0.75em;  /* 16x0.75=12 */  }

body {
  font: 100%/1.5em "Whitney", sans-serif;
  background: #381A25;
}

a { color: #8C4C4C; }

.box {
  padding: 0.938em; /* 15.0px at 16px base */
  -webkit-border-radius: 10px;
  background: rgb(214,192,141);
  background: -webkit-gradient(linear, 0 top, 3 100, from(#F2C35D), to(rgb(214,192,141)));
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

#header {
  width: 46.875em; /* 750.0px at 16px base */
  margin: 1.250em auto;
}

#header h2 {
  margin-bottom: 0.625em; /* 10.0px at 16px base */
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  font-size: 2.25em;
  font-family: "Gotham-Thin";
}

#header h2 a { text-decoration: none; color: black; }

#header p {
  margin-top: -1em;
  font-family: "Gotham-XLight";
}

#page {
  width: 46.875em; /* 750.0px at 16px base */
  margin: 0 auto;
}

#page h1 {
  margin-bottom: 0.625em; /* 10.0px at 16px base */
}

form p {
  margin-bottom: 1em;
}

input, select, option {
  font-size: 1.125em;
}

#flash-notice {
  width: 31.250em; /* 500.0px at 16px base */
  margin: 5px auto;
  margin-bottom: 15px;
  color: red;
  text-align: center;
}

table.listing {
  border-collapse: collapse;
  border: 1px solid #C3A35C;
  border-bottom: none;
  font-size: 0.875em;
  width: 31.250em; /* 500.0px at 16px base */
}

.listing tr {
  display: block;
  border-bottom: 1px solid #C3A35C;
  background: #E3CF9E;
  background: -webkit-gradient(linear, 0 top, 0 115%, from(#E3CF9E), to(#C8B88D));
}

.listing td{
  padding: 0.5em;
  padding-right: 0;
}

.listing td.name {
  width: 13.500em; /* 200.0px at 16px base */
}

.listing td.author-name {
  width: 23.125em; /* 370.0px at 16px base */
}

.listing td.author {
  width: 10.000em; /* 160.0px at 16px base */
}
